*{
	padding: 0;
	margin: 0;
}
body{
	background-color: #f3ebdc;
}
.header,footer{
	background-color: teal;
	/*line-height: 30px;*/
}
.header-inner,.footer-inner{
	min-width: 960px;
}
.header h1{
	line-height: 70px;
	font-size: 30px;
	color:white;
	text-align:center;
}
h3{
	color:#f8a059;
	line-height: 30px;
	margin-top: 20px;
	text-align:center;
}
section{
	width: 800px;
	margin: 0 auto;
	background-color: white;
	box-shadow:3px 3px 3px #919799;
	padding-top: 20px;
	padding-bottom:50px;
	/*border-radius: 6px;*/
}



.footer-inner{
	height: 60px;
	margin-top: 50px;
}
.footer-inner p{
	color:white;
	line-height: 60px;
	text-align:center;
}
