*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background-color: #f3ebdc;
}
.header{
	background-color: teal;
	/*line-height: 30px;*/
}
.header-inner,.footer-inner{
	min-width: 960px;
}
.header h1{
	line-height: 70px;
	font-size: 30px;
	color:white;
	text-align:center;
}
.header h1:hover{
	color:#ffc37b;
}

section{
	width: 770px;
	margin: 0 auto;
	background-color: white;
	box-shadow:0px 0px 5px #919799;
	padding:45px;
	padding-top: 30px;
	padding-bottom: 50px;
}
section p{
	color:#64686a;
	font-family: "微软雅黑","黑体";
	font-size: 15px;
	line-height: 1.8em;
}
section p img{
	display:block;
	width: 60vw;
	margin: 0 auto;
}
section h2{
	font-family: "宋体";
	font-size: 20px;
	color:#f08324;
	line-height: 50px;
	text-align:center;
	margin-bottom: 10px;
}
section h3{
	font-family: "宋体";
	font-size: 16px;
	color:#14877E;
	line-height: 3.5em;
}
/*section h4{
	font-size: 16px;
	color:#14877E;
	line-height: 25px;
}*/
pre{
	padding: 15px;
	margin:20px 0;
	overflow:hidden;
	background-color: rgba(252,240,223,0.4);
	border-radius: 8px;
	border:1px solid #ccc;
	line-height: 1.5em;
}
pre:hover{
	overflow-x:scroll;
}
code .nx{
	color:#9409bc;
}
code .kd,code .cm{
	color:#1e9407;
}
code .s1{
	background-color: rgba(234,205,248,0.6);
	color:#fa7e11;
}
code .kr{
	color:red;
}
/*code .mi{
	color:#25f8c9;
}*/
code .no{
	color:#e63f52;
}
code .s2{
	color:#009fa8;
}
code .c1{
	color:#5b6770;
}
/*code .err{
	background-color: #25f8c9;
}*/
ul{
	padding-left: 30px;

}
ul li{
	line-height: 25px;
	color:#64686a;
}
ul li strong{
	color:balck;
}
section p a{
	text-decoration:none;
}
blockquote{
	background-color: rgba(173,216,246,0.3);
	border-radius:5px;
	padding: 15px 30px;
	margin:20px 0;
}
blockquote p{
	font-size: 15px;
	color:#6a3314;
	line-height: 1.6em;
}
p code{
	padding-left:10px;
	padding-right: 10px;
	color:black;
	background-color: rgba(170,200,250,0.5);
	border-radius: 5px;
	font-size: 14px;
	line-height: 1.8em;
}

footer{
	background-image: url(../images/contact_03.jpg);
	margin-top: 10px;
}
.footer-inner{
	/*height: 90px;*/
	padding-top: 40px;
	padding-bottom:60px;
}
.footer-inner a{
	display:block;
	text-decoration:none;
	font-family: times;
	font-size: 18px;
	font-style:italic;
	color:#9fa2a3;
	line-height: 60px;
	text-align:center;
}
.footer-inner a:hover{
	color:#feafbc;
}
